body {
    background-color: lightgreen;
    font-family: Calibri;
}

h1 {
    font-size: xx-large;
    text-align: center;
}

section {
    width: 60%;
    margin: 0 auto;
}

ol, li {
    font-size: large;
    list-style-position: inside;
}

.input_file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.input_file + img {
    font-size: 1.25em;
    font-weight: 700;
    height: 50px;
    width: auto;
    color: white;
    display: inline-block;
}

.input_file:focus + label,
.input_file + label:hover {
    cursor: pointer;
}