body {
    background-color: lightgreen;
    font-family: Verdana;
}

h1 {
    font-size: xx-large;
    text-align: center;
}

section {
    margin: 0 auto;
    text-align: center;
}

ol, li {
    font-size: large;
    list-style-position: inside;
}

#file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#flabel {
    display: block;
    border-bottom: 2px solid #8f8f8f;
    border-right: 2px solid #8f8f8f;
    border-top: 2px solid #f3f3f3;
    border-left: 2px solid #f3f3f3;    
    padding: 10px;
    font-family: Arial;
    width: 140px;
    color: #ffffff;
    font-size: 20px;
    background: #da4141;
    margin: 5px auto;
}

#flabel:hover {
    background: #db6c6c;
}

#flabel:active {
    border-bottom: 2px solid #f3f3f3;
    border-right: 2px solid #f3f3f3;
    border-top: 2px solid #8f8f8f;
    border-left: 2px solid #8f8f8f;
}

#upload {
  font-family: Arial;
  color: #ffffff;
  font-size: 35px;
  background: #3498db;
  display: block;
  padding: 10px 20px;
  margin: 5px auto;
}

#upload:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#image {
    display: block;
    margin: 0 auto;
    width: 60%;
}